<!DOCTYPE html>
<html ng-app="cnit">
    <head lang="en">
        <meta charset="UTF-8">
        <title>C-NIT</title>
        <script src="/lib/built-in/angularjs/angular.min.js"></script>
        <script src="app/js/cnit.js"></script>
    </head>
    <body>
        <div>
            <input type="text" ng-model="cnit" placeholder="Enter your text here...">
            <h1>C-NIT: {{cnit}}</h1>
        </div>
        <div ng-controller="PlayerController">
            <button ng-click="play()" ng-show="!playing">Chơi</button>
            <button ng-click="stop()" ng-show="playing">Dừng</button>
            <button ng-click="tat()" ng-show="playing">Tắt</button>
            Playing audio: {{playing}}
        </div>
    </body>
</html>